$red : #ff0000;

.page-ofertas-laborales {
   font-size: $size_text_desktop;

   select {
      font-size: 16px;
   }
   .inner-container {
      display: block;
      text-align: left;
   }

   .job-title {
      color: #757575;
      font-size: $size_h1_desktop;
      line-height: 1.3em;

      @media (max-width: $resize-min) {
         font-size: $size_h1_mobile;
         text-align: center;
      }
   }

   .wrap-info {
      display: block;
      width: 100%;

      label {
         color: #666;
         margin-bottom: 3px;
         margin-right: 3px;
      }
   }


   .col-ad-place {
      flex: 0 0 auto;
      width: 355px;
      padding-left: 25px;
      box-sizing: border-box;

      @media (max-width: $resize-min) {
         width: 100%;
         text-align: center;
         padding-left: 0px;
      }

      .ad {
         display: inline-block;
         margin: 0 auto 30px auto;
         max-width: 100%;

         iframe,
         img,
         div {
            max-width: 100%;
         }
      }
   }

   .ad-long {
      flex: 0 0 auto;
      width: 100%;
      box-sizing: border-box;

      iframe,
      img,
      div {
         max-width: 100%;
         height: auto;
      }

      @media (max-width: $resize-min) {
         width: 100%;
         text-align: center;
      }
   }


   .col-ofertas-laborales {
      flex: 0 0 auto;
      width: calc(100% - 355px);

      @media (max-width: $resize-min) {
         width: 100%;
      }
   }

   .breadcrumbs {
      margin-bottom: 15px;

      a,
      span {
         font-size: 13px;
         color: #888;
         text-decoration: none;
      }

      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }


   .filters {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      label {
         font-weight: bold;
         margin-right: 10px;
      }

      select {
         padding: 8px;
         margin-right: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
         font-size: 16px;
      }

      .filter-btn {
         padding: 8px 12px;
         background-color: #ccc;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         font-weight: bold;
      }
   }

   .job-listings {
      padding: 26px;
      font-size: 18px;
      .ad{
         margin-top: 20px;
         margin-bottom: 20px;
      }
      .job-item {
         display: inline-block;
         margin-bottom: 10px;
         text-decoration: none;
         color: #333;
         font-weight: bold;

         &:hover {
            background-color: #f5f5f5;
         }

         .icon {
            margin-right: 8px;

            svg {
               width: 16px;
               height: 16px;
               fill: $red;
            }
         }

         .job-title-list {
            font-weight: bold;
            font-size: 18px;
            color: $red;
            text-transform: uppercase;
            margin-right: 5px;
         }

         .job-location {
            font-weight: bold;
            color: #757575;
            text-transform: uppercase;
            margin-right: 5px;
         }

         .job-info {
            color: #757575;
            font-size: 16px;

            font-weight: normal;
         }
      }
   }

   @media (max-width: $resize-min) {
      display: flex;
      justify-content: center;

      .job-item {
         max-width: 100%;
         text-align: left;
         padding: 10px 0;
         font-size: 16px;

         .job-title-list,
         .job-location,
         .job-info {
            font-size: 16px;
         }
      }
   }


   #search {
      margin-bottom: 15px;

      input[type="text"] {
         width: 100%;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid #ccc;
         margin-bottom: 10px;
      }

      button {
         background-color: #d0011b;
         color: #fff;
         padding: 10px 15px;
         border: none;
         border-radius: 5px;
         cursor: pointer;

         &:hover {
            background-color: #b30018;
         }
      }
   }

   .paginate-links {
      font-size: 18px;
      color: #757575;
      align-items: left;
      gap: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;

      a,
      span {
         padding: 8px 12px;
         text-decoration: none;
         border: 1px solid #ddd;
         border-radius: 5px;
         color: #757575;
         background-color: #f9f9f9;
         transition: all 0.3s ease;

         &:hover {
            background-color: #e0e0e0;
         }
      }

      .current {
         background-color: #ddd;
         font-weight: bold;
         color: black;
         border: 1px solid #aaa;
      }

      .prev,
      .next {
         background-color: $red;
         color: white;
         border: 1px solid $red;

         &:hover {
            background-color: $red;
         }
      }
   }

   .search-bar {
      display: block;
      margin-top: 70px;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #f1fcff;
      background-color: #f0faff;
      box-shadow: 0px 4px 6px rgba(241, 252, 255, 0.5);
      //border-radius: 30px;
      //width: 450px;
      max-width: 450px;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      @media (max-width: $resize-min) {
         max-width: unset;
         //padding: 10px;
         .search-bar-inside {
            width: 100%;
            border-radius: 20px;
            padding: 5px;
         }

         .search-input {
            font-size: 14px;
         }
      }
      form{
         padding: 0;
         margin: 0;
         display: block;
      }
      .search-bar-inside {
         display: flex;
         background-color: #fff;
         //padding: 5px 5px 0 0;
      }
      .search-input {
         flex: 1;
         padding: 0 10px;
         border: none;
         outline: none;
         font-size: 16px;
         background: transparent;
         border: none;
      }

      .search-button {
         background-color: $red;
         border: none;
         width: 40px;
         height: 40px;
         padding: 0;
         min-width: unset;
         border-radius: 50%;
         box-sizing: border-box;
         display: block;
         cursor: pointer;

         svg {
            width: 19px;
            height: 19px;
            display: block;
            margin: 0 auto;
            fill: #fff;
            flex-shrink: 0;
         }
      }
   }



   .filter-container {
      width: 650px;
      padding: 10px;
      display: flex;
      color: #757575;
      flex-direction: row;
      align-items: flex-start;

      .filter-tabs {
         display: flex;
         flex-direction: column;
         font-size: 18px;
         align-items: flex-start;
         font-weight: bold;
         padding-right: 5px;

         .filter-tab {
            cursor: pointer;
            font-weight: normal;
            transition: all 0.3s ease;

            &.active {
               font-weight: bold;
            }
         }
      }

      .filter-whole {
         background-color: #f1fcff;
         padding: 12px;
         position: relative;
         width: 100%;
         max-width: 450px;
         margin: 0 auto;

         .filter-tabs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;

            label {
               font-size: 16px;
               font-weight: bold;
               color: #333;
            }

            .filter-tab {
               font-size: 14px;
               padding: 8px 16px;
               cursor: pointer;
               color: #666;
               background-color: #e3f2fd;
               transition: background-color 0.3s, color 0.3s;

               &.active {
                  background-color: #f1fcff;
                  color: #fff;
               }

               &:hover {
                  background-color: #f1fcff;
                  color: #fff;
               }
            }
         }

         .filter-dropdowns {
            background-color: #fff;
            padding: 12px;
            display: grid;
            grid-template-columns: 1fr auto;
            //gap: 16px;
            align-items: center;
            position: relative;
            
            form {
               margin: 0;
            }
         
            .custom-dropdown {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: space-between;
               position: relative;
         
               .dropdown-toggle {
                  flex: 0 0 auto;
                  width: 100%;
                  padding: 8px;
                  background-color: #f1fcff;
                  border-radius: 8px;
                  position: relative;
                  box-sizing: border-box;
                  &::after{
                     content: "";
                     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>');
                     width: 20px;
                     height: 20px;
                     background-position: center;
                     background-repeat: no-repeat;
                     background-size: 20px 20px;
                     position: absolute;
                     top: 12px;
                     right: 10px;
                  }
               }
         
               .dropdown-menu {
                  flex: 0 0 auto;
                  display: none;
                  //position: absolute; 
                  //top: 0;
                  position: relative; 
                  top: 100%; 
                  right: 0;
                  background-color: #f1fcff;
                  border-radius: 8px;
                  max-height: 180px;
                  overflow-y: auto;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  width: 100%;
                  z-index: 10;
                  padding: 8px 0;
                  box-sizing: border-box;
                  list-style: none;
                  margin: 0;
                  border-top: 2px solid #fff;
                  li {
                     //margin-bottom: 8px;
                     width: 100%;
                     a{
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 2px 15px;
                        cursor: pointer;
                        color: #666;
                     }
                     input[type="radio"] {
                        margin-right: 8px;
                     }
                     &:hover{
                        background-color: #e7edf1;
                     }
                  }
         
                  &.open {
                     display: block;
                  }
               }
               
               .filter-button {
                  margin-left: 16px;
                  background-color: #83827e;
                  &:hover {
                     background-color: #83827e;
                  }
                  span {
                     padding: 8px 12px;
                     color: #fff;
                     border: none;
                     border-radius: 5px;
                     cursor: pointer;
                     display: block;
                  }
               }

               .form-floating{
                  width: 100%;
                  select{
                     width: 100%;
                     //padding: 0 8px;
                     padding: 0 .5rem;
                  }
               }
            }
         }
         
         
         
         .remove-filters{
            font-size: 14px;
            text-decoration: underline;
            position: absolute;
            bottom: 20px;
            left: 20px;
         }

         .filter-button {
            justify-self: end;
            padding: 0px 40px;
            background-color: #83827e;
            text-align: center;
            color: #ffffff;
            border-radius: 10px;
            display: block;
            cursor: pointer;
            margin-top: 20px;
            span {
               font-size: 18px;
               font-weight: bold;
               background-color: #83827e;
            }

            &::after {
               content: ">>";
               font-weight: bold;
               margin-left: 10px;
               position: relative;
               top: -1px;
            }
         }

         .dropdown-group {
            display: flex;
            flex-direction: column;
            gap: 1rem; // Espacio entre los elementos
            
            flex: 0 0 auto;
            width: 100%;

            .input-place {
               display: flex;
               flex-direction: column;
               width: 100%;
      
               label {
                  font-size: 14px;
                  margin-bottom: 0.5rem; // Espacio entre el label y el select/input
               }
      
               select,
               input[type="text"] {
                  width: 100%; // Ocupa todo el ancho disponible
                  max-width: 100%; // Asegura que no se expanda más de lo permitido
                  padding: 0.5rem; // Espacio interno del input/select
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  font-size: 14px;
                  box-sizing: border-box; // Asegura que el padding no expanda el input
               }
            }
         }

      }



      @media (max-width: $resize-min) {
         display: block;
         width: 100%;

         .filter-tabs {
            flex-direction: row;
            align-items: center;
            font-size: 16px;
            padding-right: 0;
            margin-bottom: 10px;

            .filter-tab {
               margin-right: 10px;
            }
         }

         .filter-whole {
            width: 100%;
            margin-left: 0;
            padding: 8px;
         }
      }

   }








   .form-floating{
      position: relative;
   }



   .form-floating > .form-control,
   .form-floating > .form-select {
     height: calc(3.5rem + 2px);
     line-height: 1.25;
   }
   
   .form-floating > label {
     /*position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     padding: 1rem 0.75rem;
     pointer-events: none;
     border: 1px solid transparent;
     transform-origin: 0 0;
     transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;*/
     position: absolute;
     top: 0px;
     left: 10px;
     height: auto;
     padding: 0 0;
     pointer-events: none;
     border: 1px solid transparent;
     transform-origin: 0 0;
     transition: opacity .1s ease-in-out, transform .1s ease-in-out;
     background-color: #fff;
     opacity: 1 !important;
   }
   
   .form-floating > .form-control::placeholder {
     color: transparent;
   }
   
   .form-floating > .form-control:focus,
   .form-floating > .form-control:not(:placeholder-shown) {
     padding-top: 1.625rem;
     padding-bottom: 0.625rem;
   }
   
   .form-floating > .form-control:focus ~ label,
   .form-floating > .form-control:not(:placeholder-shown) ~ label {
     opacity: 0.65;
     transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
   }
   
   .form-floating > .form-select {
     padding-top: 1.625rem;
     padding-bottom: 0.625rem;
   }
   
   .form-floating > .form-control:-webkit-autofill ~ label {
     opacity: 0.65;
     transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
   }
   

}