$red : #ff0000;

.page-ofertas-laborales {
   font-size: $size_text_desktop;

   .inner-container {
      display: block;
      text-align: left;
   }

   .job-title {
      color: #757575;
      font-size: $size_h1_desktop;
      line-height: 1.3em;

      @media (max-width: $resize-min) {
         font-size: $size_h1_mobile;
      }
   }

   .wrap-info {
      display: block;
      width: 100%;

      label {
         color: #666;
         margin-bottom: 3px;
         margin-right: 3px;
      }
   }


   .col-ad-place {
      flex: 0 0 auto;
      width: 355px;
      padding-left: 25px;
      box-sizing: border-box;

      @media (max-width: $resize-min) {
         width: 100%;
         padding-left: 0px;
      }

      .ad {
         margin: 0 auto 30px auto;
         max-width: 100%;

         iframe,
         img,
         div {
            max-width: 100%;
         }
      }
   }

   .col-ofertas-laborales {
      flex: 0 0 auto;
      width: calc(100% - 355px);

      @media (max-width: $resize-min) {
         width: 100%;
      }
   }

   .breadcrumbs {
      margin-bottom: 15px;

      a,
      span {
         font-size: 13px;
         color: #888;
         text-decoration: none;
      }

      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }


   .filters {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      label {
         font-weight: bold;
         margin-right: 10px;
      }

      select {
         padding: 8px;
         margin-right: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
         font-size: 14px;
      }

      .filter-btn {
         padding: 8px 12px;
         background-color: #ccc;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         font-weight: bold;
      }
   }

   .job-listings {
      padding: 26px;
      font-size: 18px;

      .job-item {
         display: flex;
         align-items: center;
         margin-bottom: 10px;
         text-decoration: none;
         color: #333;
         font-weight: bold;

         &:hover {
            background-color: #f5f5f5;
         }

         .icon {
            margin-right: 8px;
            display: flex;
            align-items: center;

            svg {
               width: 16px;
               height: 16px;
               fill: $red;
            }
         }

         .job-title-list {
            font-weight: bold;
            font-size: 18px;
            color: $red;
            text-transform: uppercase;
            margin-right: 5px;
         }

         .job-location {
            font-weight: bold;
            color: #757575;
            text-transform: uppercase;
            margin-right: 5px;
         }

         .job-info {
            color: #757575;
            font-size: 16px;

            font-weight: normal;
         }
      }
   }

   #search {
      margin-bottom: 15px;

      input[type="text"] {
         width: 100%;
         padding: 10px;
         border-radius: 5px;
         border: 1px solid #ccc;
         margin-bottom: 10px;
      }

      button {
         background-color: #d0011b;
         color: #fff;
         padding: 10px 15px;
         border: none;
         border-radius: 5px;
         cursor: pointer;

         &:hover {
            background-color: #b30018;
         }
      }
   }

   .paginate-links {
      font-size: 18px;
      color: #757575;
      align-items: left;
      gap: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;

      a,
      span {
         padding: 8px 12px;
         text-decoration: none;
         border: 1px solid #ddd;
         border-radius: 5px;
         color: #757575;
         background-color: #f9f9f9;
         transition: all 0.3s ease;

         &:hover {
            background-color: #e0e0e0;
         }
      }

      .current {
         background-color: #ddd;
         font-weight: bold;
         color: black;
         border: 1px solid #aaa;
      }

      .prev,
      .next {
         background-color: $red;
         color: white;
         border: 1px solid $red;

         &:hover {
            background-color: $red;
         }
      }
   }

   .search-bar {
      justify-content: center;
      background-color: #f0faff;
      padding: 5px;
      width: fit-content;
      margin-bottom: 10px;

      .search-bar-inside {
         display: flex;
         background-color: rgb(255, 255, 255);
         padding: 5px 5px 0 0;
         border-radius: 30px;
         width: 450px;
         border: 1px solid #f1fcff;
      }

      .search-input {
         flex: 1;
         padding-left: 5px;
         border: none;
         outline: none;
         font-size: 16px;
         background: transparent;
      }

      .search-button {
         background-color: $red;
         border: none;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         box-sizing: border-box;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;

         svg {
            width: 15px;
            height: 15px;
            fill: #fff;
            flex-shrink: 0;
         }
      }

      @media screen and (max-width: 768px) {
         width: 100%;
         padding: 10px;

         .search-bar-inside {
            width: 100%;
            border-radius: 20px;
            padding: 5px;
         }

         .search-input {
            font-size: 14px;
         }
      }
   }



   .filter-container {
      width: 650px;
      padding: 10px;
      display: flex;
      color: #757575;
      flex-direction: row;
      align-items: flex-start;

      .filter-tabs {
         display: flex;
         flex-direction: column;
         font-size: 18px;
         align-items: flex-start;
         font-weight: bold;
         padding-right: 5px;

         .filter-tab {
            cursor: pointer;
            font-weight: normal;
            transition: all 0.3s ease;

            &.active {
               font-weight: bold;
            }
         }
      }

      .filter-whole {
         background-color: #f1fcff;
         padding: 8px;
         position: relative;
         margin-left: auto;
         width: 400px;

         .filter-dropdowns {
            padding: 8px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

            .filter-dropdown {
               display: none;
               background-color: #f1fcff;
               max-height: 165px;
               overflow-y: auto;

               ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
               }

               li {
                  padding: 0px 10px;
                  cursor: pointer;
                  transition: background 0.2s;

                  &:hover {
                     background: #e3f2fd;
                  }
               }

               &.active {
                  display: block;
               }
            }
         }
      }

      @media screen and (max-width: 768px) {
         width: 100%;
         flex-direction: column;
         padding: 10px;

         .filter-tabs {
            flex-direction: row;
            align-items: center;
            font-size: 16px;
            padding-right: 0;
            margin-bottom: 10px;

            .filter-tab {
               margin-right: 10px;
            }
         }

         .filter-whole {
            width: 100%;
            margin-left: 0;
            padding: 8px;
         }
      }
   }



}