.btn-gray{
   padding: 0 15px;
   font-size: 24px;
   background-color: #777;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
   margin-left: auto;
   //display: block;
   transition:all .3s ease-in-out;
   display: table;
   &:hover{
      opacity: .8;
      background-color: #777;
      color: #fff;
   }
}
.single-oferta-laboral{
   .wrap{
      max-width: 1170px;
      width: 100%;
      box-sizing: border-box;
      .container{
         padding-left: 20px;
         padding-right: 20px;
      }
   }
}
.page-single-oferta-laboral {
   font-size: $size_text_desktop; 
   .inner-container {
      display: block;
      text-align: left;
   }
   .job-title{
      font-size: $size_h1_desktop;
      line-height: 1.3em;
      @media (max-width: $resize-min) {
         font-size: $size_h1_mobile;
         text-align: center;
      }
   }

   .ad {
      display: inline-block;
      margin: 0 auto 30px auto;
      max-width: 100%;
      *,
      iframe,
      img,
      div {
         max-width: 100%;
      }
   }

   .wrap-info {
      display: block;
      width: 100%;
      label {
         color: #666;
         margin-bottom: 3px;
         margin-right: 3px;
      }
   }

   .col-ad-place {
      flex: 0 0 auto;
      width: 355px;
      padding-left: 25px;
      box-sizing: border-box;

      @media (max-width: $resize-min) {
         width: 100%;
         text-align: center;
         padding-left: 0px;
      }

   }

   .col-offer-details {
      flex: 0 0 auto;
      width: calc(100% - 355px);
      @media (max-width: $resize-min) {
         width: 100%;
      }
   }

   h2 {
      font-size: 47px;
      color: #666;
      padding-bottom: 20px;

   }

   .section2 {
      background-color: #ffffff;
      padding: 40px 0;

      .offer-details {
         max-width: 800px;
         margin: 0 auto;
         padding: 20px;
      }
   }

   .primary-offer-details {
      background-color: #f2f2f2;
      padding: 15px 25px;
      margin-bottom: 20px;
      label {
         font-weight: bold;
      }

      .label-details {
         display: block;
         width: 100%;
         color: #555;
         margin-bottom: 3px;
         @media (max-width: $resize-min) {
            margin-bottom: 10px;
         }
         label,
         p{
            line-height: 1.4em;
         }
         label {
            font-weight: bold;
            @media (max-width: $resize-min) {
               display: block;
               width: 100%;
            }
         }
         p {
            display: inline-block;
            text-align: left;
            margin: 0;
            @media (max-width: $resize-min) {
               display: block;
               width: 100%;
            }
         }
      }
   }


   .breadcrumbs {
      //font-size: 0.9rem;
      margin-bottom: 15px;
      a, span {
         font-size: 13px;
         color: #888;
         //color: #0073aa;
         text-decoration: none;
      }
      a{
         &:hover {
            text-decoration: underline;
         }
      }
   }

   .wrap-buttons{
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      align-items: end;
      @media (max-width: $resize-min) {
         //justify-content: start;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 30px;
      }
      .btn-gray{
         padding: 0 8px;
         font-size: 16px;
         margin: 0 0 0 10px;
         flex: 0 0 auto;
         @media (max-width: $resize-min) {
            font-size: 15px;
            margin: 0 0;
         }
      }
   }

   .custom-rpw{
      margin-left: 0;
      margin-right: 0;
   }
   .custom-col{
      padding-left: 0;
      padding-right: 0;
   }

   .requirements {
      line-height: 22px;
      //padding-left: 26px;

      h3 {
         color: #666;
         font-size: 16px;
         margin-bottom: 5px;
         font-weight: bold;
      }

      ul {
         list-style: none;
         margin-left: 0;
         padding-left: 0;
       }
       
       li {
         padding-left: 1em;
         text-indent: -1em;
       }
       
       li:before {
         content: "-";
         padding-right: 5px;
       }

   }



   .apply-form {
      width: 100%;
      box-sizing: border-box;
      padding-left: 25px;
      padding-right: 50px;
      font-size: 18px;
      @media (max-width: $resize-min) {
         padding-left: 0px;
         padding-right: 0px;
      }
      h3 {
         margin-bottom: 20px;
         font-size: 18px;
         color: #333;
      }

      .label-details {
         display: block;
         @media (max-width: $resize-min) {
            display: block;
            width: 100%;
         }
         .row{
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
         }
         .custom-col-1{
            flex: 0 0 auto;
            width: 160px;
            @media (max-width: $resize-min) {
               width: 100%;
            }
         }
         .custom-col-2{
            flex: 0 0 auto;
            width: calc(100% - 160px);
            @media (max-width: $resize-min) {
               width: 100%;
            }
         }
         .custom-col-3{
            flex: 0 0 auto;
            width: 100%;
            position: relative;
            top: 3px;
            //top: -15px;
         }
         label {
            color: #555;
            text-align: left;
            @media (max-width: $resize-min) {
               display: block;
               width: 100%;
            }
         }

         input,
         textarea {
            padding: 0 10px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
         }
         input{
            line-height: 40px;
         }
         input[type="file"] {
            flex: 1;
            border: 1px solid #ccc;
            width: 100%;
         }

         p {
            font-size: 14px;
            color: #666;
            display: block; // Asegura que esté debajo
            margin-top: 5px; // Espaciado para separar del input
         }

         button {
            padding: 0 20px;
            font-size: 24px;
            background-color: #777;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            margin-left: auto;
            display: block;
            transition:all .2s ease-in-out;

            &.upload-btn {
               margin-bottom: 20px;
            }
         }

         button[type="submit"] {
            background-color: #777;
            font-weight: bold;
            padding: 0 45px;
         }

         textarea {
            resize: none;
         }
         .notice{
            font-size: 13px;
            color: #707070;
            display: block;
            &.desktop{
               display: block;
               line-height: 1em;
               @media (max-width: $resize-min) {
                  display: none;
               }
            }
            &.mobile{
               display: none;
               line-height: 1.3em;
               @media (max-width: $resize-min) {
                  display: block;
               }
            }
            
         }
      }
   }

   .boton-personalizado {
      display: block;
      width: 100%;
      background-color: #ff0000;
      color: rgb(255, 255, 255);
      padding: 15px 20px;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box; 
  }
  
  .boton-personalizado:hover {
      background-color: #c70000;
  }
  

   .share-buttons{
      padding: 45px 0;
   }




   
}